// IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

// VARIABLES
$blanco: #fff;
$gris: #d8d8d8;
$azul: #4366A6;
$fuente: 'Source Sans Pro',
sans-serif;
$bshadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);

* {
    font-family: $fuente;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgba(#000000, 0.1);
}

// BLOQUE NAV
.nav {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, rgba(69, 121, 176, 1) 0%, rgba(46, 129, 123, 1) 55%, rgba(130, 149, 6, 1) 100%);
    padding: 0 40px;


    // CONTENEDOR HAMBURGUER
    &__hamburguer{
        display: none;
    }

    // CONTENEDOR LOGO
    &__logo {
        width: 10%;
        letter-spacing: 2px;
        color: $blanco;
    }
    &__logo-responsive{
        display: none;
    }

    // CONTENEDOR INPUT Y SEARCH
    &__form {
        width: 43%;
        position: relative;
        padding-left: 28px;

        input {
            width: 100%;
            height: 40px;
            border-radius: 4px;
            border: none;
            padding-left: 10px;

            &::placeholder {
                font-size: 18px;
            }
        }

        &::after{
            content: "\f002";
            font-family: 'Font Awesome 5 Free';
            font-size: 20px;
            font-weight: bold;
            display: inline-block;
            position: absolute;
            color: $gris;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__search{
        display: none;
    }

    // CONTENEDOR MENU 
    &__menu {
        width: 37%;
        display: flex;
        padding: 0;
    }
    &__menu-lista {
        display: inline-block;
        margin-right: 20px;
    }
    &__menu-icons {
            color: $blanco;
            text-decoration: none;
            display: flex;
            flex-direction: column;

            &:hover {
                color: rgba($blanco, 0.8);
            }
    }
    &__menu-icons-icon{
        align-self: center;
        font-size: 26px;
    }   

    // CONTENEDOR PROFILE
    &__profile {
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__profile-bell {
        position: relative;
        font-size: 22px;

        &::before {
            content: "8";
            display: block;
            text-align: center;
            font-weight: bold;
            font-size: 11px;
            height: 14px;
            width: 14px;
            border-radius: 100%;
            background-color: #B01818;
            color: $blanco;
            position: absolute;
            top: 0px;
            right: -2px;

        }

        
    }
    &__profile-bell-icon {
        color: $blanco;
    }
    &__profile-img {
        width: 35px;
        height: 35px;
        border-radius: 100%;
        background-image: url("img/perfil.jpg");
        background-position: center;
        background-size: cover;
        border: 2px solid $blanco;
        margin-left: 22px;
        margin-right: 10px;
        display: inline-block;
        position: relative;
        cursor: pointer;

        &::after {
            content: "\f0d7";
            font-family: 'Font Awesome 5 Free';
            font-size: 20px;
            font-weight: bold;
            display: inline-block;
            position: absolute;
            color: $blanco;
            right: -19px;
            top: 50%;
            transform: translateY(-50%);
        }
    }



    @media only screen and (min-width: 1024px) and (max-width: 1279px) {
        padding: 0px 25px;


        // CONTENEDOR LOGO
        &__logo {
            width: 10%;
        }

        // CONTENEDOR MENU 
        &__menu {
            width: 44.5%;
        }

        // CONTENEDOR INPUT Y SEARCH
        &__form {
            width: 35.5%;
            position: relative;
            padding-left: 33px;
        }

        // CONTENEDOR PROFILE
        &__profile {
            width: 10%;
            justify-content: flex-end;
            padding-right: 10px;
        }
        &__profile-img {
            margin-left: 15px;
        }
    }

    @media only screen and (min-width: 600px) and (max-width: 1023px) {
        padding: 20px 15px;

        //CONTENEDOR HAMBURGUER
        &__hamburguer{
            width: 5%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: $blanco;
            font-size: 25px;
        }
        &__hamburguer-icon{
            color: $blanco;
        }

        // CONTENEDOR LOGO
        &__logo {
            width: 22%;
            padding-left: 15px;
        }

        // CONTENEDOR MENU 
        &__menu {
            display: none;
        }

        // CONTENEDOR INPUT Y SEARCH
        &__form {
            width: 53%;
            position: relative;
            padding-left: 28px;
        }

        // CONTENEDOR PROFILE
        &__profile {
            width: 20%;
            justify-content: flex-end;
            padding-right: 10px;
        }
        &__profile-img {
            margin-left: 15px;
        }
       
    }

    @media only screen and (min-width: 320px) and (max-width: 599px) {
        padding: 0 15px;

        //CONTENEDOR HAMBURGUER
        &__hamburguer{
            width: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $blanco;
            font-size: 25px;
        }
        &__hamburguer-icon{
            color: $blanco;
        }

        // CONTENEDOR LOGO
        &__logo {
            display: none;
        }
        &__logo-responsive{
            width: 20%;
            display: flex;
            justify-content: flex-start;
            padding-top: 7px;
            padding-bottom: 4px;
            padding-left: 10px;
            
        }
        &__logo-responsive-img{
            width: 45px;
            height: 45px;
        }

        // CONTENEDOR INPUT Y SEARCH
        &__form {
            display: none;
        }

        &__search{
            width: 35%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 20px;
            color: $blanco;
            padding-right: 5px;
        }

        // CONTENEDOR MENU 
        &__menu {
            display: none;
        }
        

        // CONTENEDOR PROFILE
        &__profile {
            width: 35%;
        }
        &__profile-img {
            margin-left: 15px;
        }

    }


}


// BLOQUE MAIN
.main {
    display: flex;
    flex-wrap: wrap;
    padding-top: 28px;
    $altura: 100%;

    .general-title{
        display: none;
    }
    
    // GRILLA
    .left-block {
        width: 25%;
        height: $altura;
        padding: 23px 6px 25px 24px;

        @media only screen and (min-width: 1024px) and (max-width: 1279px) {
            width: 33.3%;
        }

        @media only screen and (min-width: 600px) and (max-width: 1023px) {
            width: 50%;
            padding: 5px 10px 0px 15px;
        }

        @media only screen and (min-width: 320px) and (max-width: 599px) {
            width: 100%;
            padding: 5px 15px 0px 15px;
        }

    }
    .center-block {
        width: 50%;
        height: $altura;
        padding: 23px 18px 25px 18px;

        @media only screen and (min-width: 1024px) and (max-width: 1279px) {
            width: 33.3%;
        }

        @media only screen and (min-width: 600px) and (max-width: 1023px) {
            width: 50%;
            padding: 5px 15px 0px 10px;
        }

        @media only screen and (min-width: 320px) and (max-width: 599px) {
            width: 100%;
            padding: 15px 15px 0px 15px;
        }

    }
    .right-block {
        width: 25%;
        height: $altura;
        padding: 23px 24px 25px 5px;

        @media only screen and (min-width: 1024px) and (max-width: 1279px) {
            width: 33.3%;
        }

        @media only screen and (min-width: 600px) and (max-width: 1023px) {
             width: 50%;
             padding: 5px 10px 30px 15px;
        }

        @media only screen and (min-width: 320px) and (max-width: 599px) {
            width: 100%;
            padding: 15px 15px 0px 15px;
        }

    }



    // BLOQUE CARD
    .card {
        background-color: white;
        border-radius: 5px;
        box-shadow: $bshadow;
        margin: 0;
        position: relative;

        &--margin-top {
            margin-top: 30px;
        }

        @media only screen and (min-width: 320px) and (max-width: 599px) {
            &--margin-top {
                margin-top: 15px;
            }
        }

        // CARD HEADER
        &__header {
            display: flex;
            align-items: center;
            font-weight: bold;
            background-color: $azul;
            color: $blanco;
            height: 55px;
            max-width: 100%;
            border-radius: 5px 5px 0px 0px;
            padding-left: 55px;
            position: relative;

            &::after {
                content: "\f142";
                font-family: 'Font Awesome 5 Free';
                font-size: 14px;
                display: inline-block;
                position: absolute;
                color: $blanco;
                cursor: pointer;
                right: 24px;
                top: 50%;
                transform: translateY(-50%);
            }

        }

        &__header-title {
            position: relative;
            font-size: 16px;

            &::before{
                content: "";
                font-family: 'Font Awesome 5 Free';
                font-size: 14px;
                display: inline-block;
                position: absolute;
                left: -30px;
                top:50%;
                transform: translateY(-50%);
            }
            
            &--events:before{
                content: "\f073";
            }
            &--notifications:before{
                content: "\f0f3";
            }
            &--mails:before{
                content: "\f0e0";
            }
            &--projects::before{
                content: "\f07c";
            }
            &--contacts:before{
                content: "\f0c0";
            }

        }

        
        

        // CARD BODY
        
        // REUTILIZABLES
        .bold{
            font-weight: bold;
        }
        .ellipsis{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
        }
        &__link{
            color: #4579B0;
            font-weight: bold;
            text-decoration: underline;
            display: inline-block;
        }
        &__paragraph{
            font-size: 14px;
            margin-top: 0;
            margin-bottom: 0;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        &__tab{
            display: flex;
            background-color: #E3E8F2;
            justify-content: center;
        }
        &__tab-wrapper{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 10px;
            padding-left: 20px;
            padding-right: 20px;
            

            &--text-start{
                justify-content: flex-start;
                padding-left: 0;
                padding-right: 0;
            }
        }
        &__tab-menu{
            display: inline;
            list-style: none;
            padding: 10px 0;

            &--active{
                border-bottom: 2px solid $azul;
            }
        }
        &__tab-links{
            color: $azul;
            text-decoration: none;
            padding: 0 30px;

            &--padding{
                padding: 0;
            }
            
        }

        // ELEMENTO EVENT
        &__event{
            display: flex;
            flex-direction: column;
            padding: 12px 45px 0px 25px;

            &--last{
                margin-bottom: 15px;
            }
        }
        
        &__event-date{
            color: $azul;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 6px;

            &--last{
                margin-top: 0;
                margin-bottom: 9px;
            }
        }
        &__event-details{
            display: flex;
            margin-top:5px;

            &--second{
                margin-top: 25px;
            }
        }
        &__event-hour{
            width: 45px;
            flex-shrink: 0;
            height: 45px;
            border-radius: 100%;
            background-color: $azul;
            color: $blanco;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__event-info{
            display: flex;
            flex-direction: column;
            padding-left: 10px;
            padding-top: 4px;
        }

        // ELEMENTO NOTIFICATION
        &__notification{
            display: flex;
            flex-direction: column;
            padding: 14px 25px 0 25px;

            &:last-of-type > .card__notification-wrapper{
                border: none;
            }
        }
        &__notification-wrapper{
            padding-bottom: 15px;
            border-bottom: 1px solid rgba(#000000, 0.1);
        }
        &__notification-details{
            display: flex;
        }
        &__notification-info{
            width: 70%;
        }
        &__notification-title{
            font-weight: bold; 
            color: #636363; 
            text-decoration: none;
        }
        &__notification-deadline{
            position: relative;
            margin-left: 20px;
            
            &::before{
                content: "\f06a";
                font-family: 'Font Awesome 5 Free';
                font-weight: bold;
                font-size: 14px;
                display: inline-block;
                position: absolute;
                left: -20px;
                color: #f5a623;
                top:50%;
                transform: translateY(-50%);
            }

            &--no-icon::before{
                content: ""
            }

            &--overdue::before{
                content: "\f071";
                font-family: 'Font Awesome 5 Free';
                font-weight: bold;
                font-size: 14px;
                display: inline-block;
                position: absolute;
                left: -20px;
                color: #c43333;
                top:50%;
                transform: translateY(-50%);
            }
            
        }
        &__notification-icon{
            width: 30%;
            display: flex;
            color: #A8B061;
            justify-content: flex-end;
            font-size: 20px;
        }
        &__notification-check{
            display: none;
        }
        &__notification-check-label::before{
            content: "";
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid $gris;
            width: 15px;
            height: 15px;
            cursor: pointer;
        }

        &__notification-check:checked + .card__notification-check-label::before{
            content: "\2714";
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #A8B061;
            width: 15px;
            height: 15px;
            cursor: pointer;
        }

        // ELEMENTO MAILS
        &__mails{
            padding-left: 25px;
            padding-right: 25px;
        }
        &__mail{
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid $gris;
            
            &:last-of-type{
                border: none;
            }
        }
        &__mail-date{
            margin-bottom: 0;
            margin-top: 15px;
        }
        &__mail-user{
            display: flex;
            margin-top: 7px;
            margin-bottom: 6px;
        }
        &__mail-user-img{
            width: 20px;
            height: 20px;
            border-radius: 100%;
            background-image: url("img/perfil.jpg");
            background-position: center;
            background-size: cover;
        }
        &__mail-user-name{
            margin-left: 5px;
        }
        &__mail-data{
            padding-bottom: 10px;
        }



        // ELEMENTO PROYECTOS
        &__project-wrapper{
            padding: 0 25px;
        }
        &__project{
            padding-top: 15px;
            border-bottom: 1px solid $gris;

            &:last-of-type{
                border: none;
            }
        }
        &__project-pills{
            display: flex;
        }
        &__pill{
            padding: 2px 10px;
            background-color: #E8EEB3;
            margin-right: 10px;
            border-radius: 70px;
            font-size: 13px;
            font-weight: bold;

            &--outline{
                background-color: #fff;
                border: 2px solid #E8EEB3;
            }
        }



        // ELEMENTO CONTACTOS
        &__contactos{
            display: flex;
            flex-direction: column;
            max-height: 445px;
        }
        &__scroll{
            overflow-y: scroll;
            padding: 0 10px 0  25px;
            margin-right: 5px;
        }
        &__scroll::-webkit-scrollbar{
            width: 10px;
        }
        &__scroll::-webkit-scrollbar-thumb{
            background-color: $gris;
            border-radius: 100px;
        }
        &__contactos-details{
            width: 100%;
            display: flex;
            padding: 14px 5px 14px 0;
            border-bottom: 1px solid $gris;

            &:last-of-type{
                border: none;
            }
        }
        &__contactos-image{
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background-image: url("img/perfil.jpg");
            background-position: center;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__contactos-info{
            width: calc(100% - 45px);
            margin-left: 15px;
            padding-right: 20px;
            position: relative;

            &::after{
                content: "\f078";
                font-family: 'Font Awesome 5 Free';
                font-weight: bold;
                font-size: 14px;
                display: inline-block;
                position: absolute;
                color: $azul;
                right: 0;
                top: 4px;
            }
        }

        
        

        // CARD FOOTER
        &__footer {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px 0;
            border-top: 1px solid rgba(#000000, 0.1);
            width: 100%;
            font-weight: bold;
            font-size: 14px;
            color: $azul;
            border-radius: 0px 0px 5px 5px;
        }
        &__footer-text {
            position: relative;
            cursor: pointer;

            &::after {
                content: "\f078";
                font-family: 'Font Awesome 5 Free';
                font-size: 14px;
                display: block;
                color: $azul;
                position: absolute;
                right: -20px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        


    }









}